
/* If time fix this smelly code */
/* Order in the same way as page
keep grid area assignments with the code that is edditing it
blah-div remove and use just the id 
Rename Modal to Popup (sign in/sign up) */
body {
    margin: 0 auto;
    font-family: Dreamlands;
}
.footer {
    grid-area: footer;
}
.about-div {
    grid-area: about;
    background: #D3D3D3;
}
.contact-div {
    grid-area: contact;
}
.slider-div {
    grid-area: slider;
    height: 400px;
    padding-top: 10px;
}
.accountSettings-div {
    grid-area: slider;
}
.grid-container {
    display: grid;
    grid-template-areas:
        /* Better to use three letters so it's easier to read */
        'nav nav nav nav nav nav'
        'slider slider slider slider slider slider'
        'about about about about about about'
        'contact contact contact contact contact contact' 
        'footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color: rgb(0,0,0);
    padding: 10px;
}
    .grid-container > div {
        text-align: center;
        font-size: 20px;
    }
.nav {
    display: grid;
    width: 100%;
    grid-area: nav;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    background-color: #000;
    z-index: 10;
    position: fixed;
    align-items: center;
    text-align: center;
}
    .logo {
        grid-column: 1;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
        .logo img {
            width: 75px;
        }
    .about {
        grid-column: 2;
    }

    .contact {
        grid-column: 9;
    }
    .contact-div h2{
        color: #fff;
    }
    .border {
        width: 500px;
        height: 5px;
        background: #fff;
        margin: 40px auto;
        }
    .about-div{
        color: #000;
        padding: 0 20px;
        font-family: 'Kravitz Thermal';
    }
    .boardInfo{
        width: 100%;
        color: #000;
        font-family: Dreamlands;
    }
        .borderAbout {
            width: 500px;
            height: 5px;
            background: #000;
            margin: 40px auto;
        }
    .contactForm{
        max-width: 800px;
        margin: auto;
        padding: 0 10px;
    }
    .contactText{
        display: block;
        width: 100%;
        box-sizing:border-box;
        margin: 10px 0;
        border: 0;
        padding: 10px 20px;
        outline: none;
        transition: 0.5s;
    }
        .contactText:focus {
            box-shadow: 0 0 10px 8px #4CAF50;
        }
        textarea.contactText{
            resize: none;
            height: 120px;
        }
.contact-div2 h2, h3 {
    color: #fff;
}
.border2 {
    width: 500px;
    height: 5px;
    background: #fff;
    margin: 40px auto;
}
.contactForm2 {
    margin: auto;
}
.contactText2 {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    margin: 10px 0;
    padding: 10px 20px;
    outline: none;
    transition: 0.5s;
}
    .contactText2:focus {
        box-shadow: 0 0 10px 8px #4CAF50;
    }

textarea2.contactText {
    resize: none;
    height: 120px;
}
        .account {
            grid-column: 10;
        }
        .accountContent, .unameContetnt {
            display: none;
            position: absolute;
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }
        .account:hover .accountContent {
            display: block;
        }
        .uname:hover .unameContetnt {
            display: block;
        }
        .unameContetnt input[type=submit]{
            border:none;
            outline:none;
            background:none;
            cursor:pointer;
            padding:0;
            font-family:inherit;
            font-size:inherit;
        }
        .uname p {
            color: #fff;
        }
    .signIn, .signOut {
        grid-column: 9;
    }
    .signUp, .uname{
        grid-column: 10;
    }
.navLinks {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
    .navLinks:hover {
        color: #c1272d;
        padding: 10px;
    }
.slider, .accountSettings {
    padding-top: 90px;
    height: auto;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: left;
}
    .slider img {
        margin: 0 auto;
        align-content: center;
    }
    .left {
        height: auto;
        width: calc(50% - 20px);
        padding: 0 10px;
        text-align: left;
        float: left;
    }
    .right {
        height: auto;
        width: calc(50% - 20px);
        padding: 0 10px;
        text-align: right;
        float: left;
    }
    .left h3, .right h3 {
        font-family: Dreamlands;
        color: #000;
    }
.footer {
    display: grid;
    width: 100%;
    grid-area: footer;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    align-items: center;
    text-align: center;
    color: #fff;
}
    .footer img {
        width: 50px;
    }
    .f1 {
        grid-column: 1;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .f2 {
        grid-column: 2;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .f3 {
        grid-column: 3;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .f4 {
        grid-column: 4;
    }
    .f5 {
        grid-column: 5;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .f6 {
        grid-column: 6;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .f7 {
        grid-column: 7;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
        box-shadow: 0 0 10px 8px #4CAF50;
    }
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    float: left;
}
.removeButton {
    background-color: #c1272d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    float: left;
}
button:hover, .removeButton:hover {
    opacity: 1;
}
.cancelbtn {
    width: 50%;
    float: left;
    padding: 14px 20px;
    margin: 8px 0;
    background-color: #c1272d;
}
.container {
    padding: 10px 10px 60px 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modalContent {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    margin: 5% auto 20% auto;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Kravitz Thermal';
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
/* Account page */
/* should be a calendar class and id's that say where they come from */
.hiddenGmail, .hiddenApple, .hiddenMicro, .hiddenGPhoto {
    display: none;
}
.calImages img {
    width: 100px;
}
.gmailCal, .appleCal, .microCal, gPhoto {
    padding: 0 20px 0 20px;
}
.drop {
    padding: 14px 20px;
    margin: 8px 0;
}
.drop option:hover {
    background-color: rgba(76, 175, 80, 0.7);
    color: #fff;
}
/* Rearrange for smaller screens */
@media screen and (max-width: 700px) {
}

 /* Drag, Drop & Resize */
 /* Container */
 /* ONLY display sfter they select the screen size and orientation */
.resize-container {
    margin: 20px;
    width: calc(100% - 40px);
    height: 800px;
    background: #fff;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* Drag Items */
.resize-drag {
    background: rgba(96, 96, 96, 0.8);
    color: #fff;
    position: static;
    font-size: 100%;
    font-family: Arial;
    border-radius: 8px;
    padding: 5px;
    margin: 2.5px;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    display: -ms-flexbox;
    display: flex;
    user-select: none;
}
/* have everything hidden & toggel show when they save */
.dt {
    /* date time drag/resize class */
    z-index: 3;
    text-align: center;
    max-width: calc(50% - 5px);
    max-height: calc(50% - 5px);
}
#dtGrid {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas: 
        "day dte mon yar" 
        "hur min sec tim";
}
    #day{
        display: grid;
            grid-area: day;
    }
    #date{
        display: grid;
        grid-area: dte;
    }
    #month{
        display: grid;
        grid-area: mon;
    }
    #year{
        display: grid;
        grid-area: yar;
    }
    #hour{
        display: grid;
        grid-area: hur;
    }
    #minute{
        display: grid;
        grid-area: min;
    }
    #second{
        display: grid;
        grid-area: sec;
    }
    #time{
        display: grid;
        grid-area: tim;
    }
.p {
    /* photo drag/resize class */
    z-index: 0;
    position: absolute;
    width: inherit;
    max-width: 86.2%;
    height: inherit;
    margin: 0px;
}
.c {
    /* calendar drag/resize class */
    z-index: 3;
    max-width: calc(50% - 5px);
    max-height: calc(50% - 5px);
}
.w {
    /* weather drag/resize class */
    z-index: 3;
    min-width: 502px;
    min-height: 210px;
    max-width: calc(50% - 5px);
    max-height: calc(50% - 5px);
    /*
     have to set something to notice when the data won't fit
     and have it no longer allow smaller resizing -done
    */
}
    #weatherGrid {
        display: grid;
        width: auto;
        height: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(auto, auto);
        grid-template-areas: 
            "img loc des" 
            "cld ris set" 
            "tmp hot low" 
            "spd  .  dir" 
            "hmd prs vis";
        /*
            check list of things they want to see???
        */
    }
        #img {
            display: grid;
            grid-area: img;
            text-align: left;
            height: auto;
            width: auto;
        }
        #loc {
            display: grid;
            grid-area: loc;
            text-align: center;
            height: auto;
            width: auto;
        }
        #des {
            display: grid;
            grid-area: des;
            text-align: right;
            height: auto;
            width: auto;
        }
        #cld {
            display: grid;
            grid-area: cld;
            text-align: left;
            height: auto;
            width: auto;
        }
        #ris {
            display: grid;
            grid-area: ris;
            text-align: center;
            height: auto;
            width: auto;
        }
        #set {
            display: grid;
            grid-area: set;
            text-align: right;
            height: auto;
            width: auto;
        }
        #tmp {
            display: grid;
            grid-area: tmp;
            text-align: left;
            height: auto;
            width: auto;
        }
        #hot {
            display: grid;
            grid-area: hot;
            text-align: center;
            height: auto;
            width: auto;
        }
        #low {
            display: grid;
            grid-area: low;
            text-align: right;
            height: auto;
            width: auto;
        }
        /*not displaying for now*/
        #spd {
            display: grid;
            grid-area: spd;
            text-align: left;
            height: auto;
            width: auto;
        }
        #dir {
            display: grid;
            grid-area: dir;
            text-align: right;
            height: auto;
            width: auto;
        }
        #hmd {
            display: grid;
            grid-area: hmd;
            text-align: left;
            height: auto;
            width: auto;
        }
        #prs {
            display: grid;
            grid-area: prs;
            text-align: center;
            height: auto;
            width: auto;
        }
        #vis {
            display: grid;
            grid-area: vis;
            text-align: right;
            height: auto;
            width: auto;
        }
.n {
    /* news drag/resize class */
    z-index: 3;
    min-width: 400px;
    min-height: 200px;
    max-width: calc(50% - 5px);
    max-height: calc(50% - 5px);
}
   #newsGrid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        "hdl hdl"
        "pbl pbl";
   }
        #headline {
            display: grid;
            grid-area: hdl;
            height: auto;
            width: auto;
        }
        #published {
            display: grid;
            grid-area: pbl;
            height: auto;
            width: auto;
        }

